.names-container{
    margin-top: 5%;
}


.girls-names{
    background-color: pink;
    margin-right: 4px;
    margin-top: 8px;

}
.boys-names{
    color:white;
    background-color: blue;
    margin-right: 4px;
    margin-top: 8px;
}

